<div class="controls controls--bar">
  <button class="button system-button system-button--danger"></button>
  <button class="button system-button system-button--warning"></button>
  <button class="button system-button system-button--success"></button>
</div>