<div class="controls controls--bar">
  <button class="button system-button system-button--danger" title="Close"></button>
  <button class="button system-button system-button--warning" title="Close"></button>
  <button class="button system-button system-button--success" title="Close"></button>
</div>