<nav class="nav">
  <a href="#" class="nav-item nav-item--active">
    <i class="nav-item__icon icon icon-github"></i>
    <div class="nav-item__label">All</div>
    <div class="nav-item__meta">
      <span>12</span>
    </div>
  </a>

  <a href="#" class="nav-item">
    <i class="nav-item__icon icon icon-info"></i>
    <div class="nav-item__label">Open</div>
    <div class="nav-item__meta">
      <span>4</span>
    </div>
  </a>

  <a href="#" class="nav-item">
    <i class="nav-item__icon icon icon-done"></i>
    <div class="nav-item__label">Closed</div>
    <div class="nav-item__meta">
      <span>8</span>
    </div>
  </a>  
</nav>