@mixin button-style($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 10%);
  }
}

@mixin transition($type: all, $duration: $transition-duration, $easing: $transition-easing) {
  transition: $type $duration $easing;
}